<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RX Player</title>

    <link rel="shortcut icon" type="image/png" href="../assets/img/favIcon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-genre.css">
    <link rel="stylesheet" href="../assets/css/style-mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <a class="activeLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/whiteLogo.png"></a>
        <a class="inactiveLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/favIcon.png"></a>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="top10.html">Top 10</a></li>
            <li><a class="active" href="genre.html">Genre</a></li>
            <li><a href="plans.html">Plans</a></li>
            <li><a href="regist.html">Register</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="container genreGlobal col-flex">
        <div class="headTitle">
            <h1>Genre</h1>
            <h3>A complete genre just for you</h3>
        </div>
        <div class="genreContainer col-flex">
            <h3 class="genreType">K-POP</h3>
            <div class="genreRow row-flex">
                <div class="genreCol col-flex">
                    <img src="../assets/img/first.jpg">
                    <div class="songDesc col-flex">
                        <h3>Eight</h3>
                        <label>IU ft. SUGA BTS</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/sec.png">
                    <div class="songDesc col-flex">
                        <h3>Sour Candy</h3>
                        <label>Blackpink, Lady Gaga</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/third.jpg">
                    <div class="songDesc col-flex">
                        <h3>Hit</h3>
                        <label>Seventeen</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/4.png">
                    <div class="songDesc col-flex">
                        <h3>More and More</h3>
                        <label>Twice</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/8.jpg">
                    <div class="songDesc col-flex">
                        <h3>Ridin</h3>
                        <label>NCT Dream</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="genreContainer col-flex">
            <h3 class="genreType">DANCE</h3>
            <div class="genreRow row-flex">
                <div class="genreCol col-flex">
                    <img src="../assets/img/10.jpg">
                    <div class="songDesc col-flex">
                        <h3>Lathi</h3>
                        <label>Weird Genius ft. Sara Fajira</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/mamacita.png">
                    <div class="songDesc col-flex">
                        <h3>Mamacita</h3>
                        <label>Black Eyed Peas, Ozuna</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/home.png">
                    <div class="songDesc col-flex">
                        <h3>Heading Home</h3>
                        <label>Alan Walker</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/alone.png">
                    <div class="songDesc col-flex">
                        <h3>Alone pt.2</h3>
                        <label>Alan Walker ft. Ava Max</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/summer.png">
                    <div class="songDesc col-flex">
                        <h3>Sumer Days</h3>
                        <label>Martin Garix ft Macklemore</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="genreContainer col-flex">
            <h3 class="genreType">POP</h3>
            <div class="genreRow row-flex">
                <div class="genreCol col-flex">
                    <img src="../assets/img/sec.png">
                    <div class="songDesc col-flex">
                        <h3>Sour Candy</h3>
                        <label>Lady Gaga ft. Blackpink</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/6.png">
                    <div class="songDesc col-flex">
                        <h3>Rain on Me</h3>
                        <label>Lady Gaga ft. Ariana Grande</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/danceMonkey.png">
                    <div class="songDesc col-flex">
                        <h3>Dance Monkey</h3>
                        <label>Tones and I</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/power.png">
                    <div class="songDesc col-flex">
                        <h3>Power</h3>
                        <label>Ellie Goulding</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/elephant.png">
                    <div class="songDesc col-flex">
                        <h3>Elephant in The Room</h3>
                        <label>Confetti</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="genreContainer col-flex">
            <h3 class="genreType">JAZZ</h3>
            <div class="genreRow row-flex">
                <div class="genreCol col-flex">
                    <img src="../assets/img/10.jpg">
                    <div class="songDesc col-flex">
                        <h3>Lathi</h3>
                        <label>Weird Genius ft. Sara Fajira</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/mamacita.png">
                    <div class="songDesc col-flex">
                        <h3>Mamacita</h3>
                        <label>Black Eyed Peas, Ozuna</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/alone.png">
                    <div class="songDesc col-flex">
                        <h3>Alone pt.2</h3>
                        <label>Alan Walker ft. Ava Max</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/summer.png">
                    <div class="songDesc col-flex">
                        <h3>Sumer Days</h3>
                        <label>Martin Garix ft Macklemore</label>
                    </div>
                </div>
                <div class="genreCol col-flex">
                    <img src="../assets/img/8.jpg">
                    <div class="songDesc col-flex">
                        <h3>Ridin</h3>
                        <label>NCT Dream</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer row-flex">
        <div class="foot">
            <a class="footLogo" href="homepage.html">
                <img src="../assets/img/blueLogo.png">
            </a>
        </div>
        <div class="text">&copy; 2020 A&T Co.</div>
        <div class="footRight row-flex">
            <a class="ig" href="https://www.instagram.com/"></a>
            <a class="fb" href="https://www.facebook.com/"></a>
            <a class="tw" href="https://twitter.com/"></a>
        </div>
    </div>
</footer>

</html>