<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RX Player</title>

    <link rel="shortcut icon" type="image/png" href="../assets/img/favIcon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-plans.css">
    <link rel="stylesheet" href="../assets/css/style-mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <a class="activeLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/whiteLogo.png"></a>
        <a class="inactiveLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/favIcon.png"></a>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="top10.html">Top 10</a></li>
            <li><a href="genre.html">Genre</a></li>
            <li><a class="active" href="plans.html">Plans</a></li>
            <li><a href="regist.html">Register</a></li>
        </ul>
    </nav>
</header>

<body class="plansBody">
    <div class="planTitle">
        <h1>Plans</h1>
        <h3>Get your own privileges</h3>
    </div>

    <div class="planContainer row-flex container">
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Bronze</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>$3 </p><span>/mo</span>
                </div>
                <div class="p desc"><em>Special offer!</em></div>
                <ul class="features">
                    <li><strong>NO</strong> Ads</li>
                    <li><strong>5</strong> Uploads</li>
                    <li><strong>10</strong> Offline Playlists</li>
                    <li><strong>Regular</strong> Badge</li>
                    <li><strong>Unlimited</strong> Bandwidth</li>
                </ul><a class="selectPlan" href="regist.html">Select Plan</a>
            </div>
        </div>
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Silver</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>$10 </p><span>/mo</span>
                </div>
                <div class="p desc"><em>Special offer!</em></div>
                <ul class="features">
                    <li><strong>NO</strong> Ads</li>
                    <li><strong>20</strong> Uploads</li>
                    <li><strong>30</strong> Offline Playlists</li>
                    <li><strong>Premium</strong> Badge</li>
                    <li><strong>Unlimited</strong> Bandwidth</li>
                </ul><a class="selectPlan" href="regist.html">Select Plan</a>
            </div>
        </div>
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Gold</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>$20</p><span>/mo</span>
                </div>
                <div class="p desc"><em>Special offer!</em></div>
                <ul class="features">
                    <li><strong>NO</strong> Ads</li>
                    <li><strong>Unlimited</strong> Uploads</li>
                    <li><strong>Unlimited</strong> Offline Playlists</li>
                    <li><strong>Exclusive</strong> Badge</li>
                    <li><strong>Unlimited</strong> Bandwidth</li>
                </ul><a class="selectPlan" href="regist.html">Select Plan</a>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer row-flex planFooter">
        <div class="foot">
            <a class="footLogo" href="homepage.html">
                <img src="../assets/img/blueLogo.png">
            </a>
        </div>
        <div class="text">&copy; 2020 A&T Co.</div>
        <div class="footRight row-flex">
            <a class="ig" href="https://www.instagram.com/"></a>
            <a class="fb" href="https://www.facebook.com/"></a>
            <a class="tw" href="https://twitter.com/"></a>
        </div>
    </div>
</footer>

</html>