<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RX Player</title>

    <link rel="shortcut icon" type="image/png" href="../assets/img/favIcon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-top.css">
    <link rel="stylesheet" href="../assets/css/style-mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> -->

</head>

<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <a class="activeLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/whiteLogo.png"></a>
        <a class="inactiveLogo navLogo" href="homepage.html"><img class="logo" src="../assets/img/favIcon.png"></a>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a class="active" href="top10.html">Top 10</a></li>
            <li><a href="genre.html">Genre</a></li>
            <li><a href="plans.html">Plans</a></li>
            <li><a href="regist.html">Register</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="container top3 col-flex">
        <h1 class="top3Title">The Top 3 Asian</h1>
        <h3>Here are today top 3 songs in Asia</h3>
        <div class="top3Row row-flex">
            <div class="top3Col other col-flex">
                <h1>2</h1>
                <img src="../assets/img/sec.png">
                <h3>Sour Candy</h3>
                <h3>Lady Gaga</h3>
            </div>
            <div class="top3Col first">
                <h1>1</h1>
                <img src="../assets/img/first.jpg">
                <h3>Eight</h3>
                <h3>IU ft. Suga BTS</h3>
            </div>
            <div class="top3Col other col-flex">
                <h1>3</h1>
                <img src="../assets/img/third.jpg">
                <h3>Hit</h3>
                <h3>Seventeen</h3>
            </div>
        </div>
    </div>

    <div class="container top10 col-flex">
        <h1 class="top10Title">The Top 10 Asian</h1>
        <div class="top10ListCol col-flex">
            <div class="top10Row row-flex">
                <h3 class="position">1</h3>
                <img src="../assets/img/first.jpg">
                <div class="top10Info col-flex">
                    <h3>Eight</h3>
                    <label>IU ft. Suga BTS</label>
                </div>
                <h3 class="position">-</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">2</h3>
                <img src="../assets/img/sec.png">
                <div class="top10Info col-flex">
                    <h3>Sour Candy</h3>
                    <label>Lady Gaga ft. Ariana Grande</label>
                </div>
                <h3 class="position">-1</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">3</h3>
                <img src="../assets/img/third.jpg">
                <div class="top10Info col-flex">
                    <h3>Hit</h3>
                    <label>Seventeen</label>
                </div>
                <h3 class="position">-</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">4</h3>
                <img src="../assets/img/5.png">
                <div class="top10Info col-flex">
                    <h3>More And More</h3>
                    <label>Twice</label>
                </div>
                <h3 class="position">+2</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">5</h3>
                <img src="../assets/img/4.png">
                <div class="top10Info col-flex">
                    <h3>Stuck With You</h3>
                    <label>Ariana Grande & Justin Bieber</label>
                </div>
                <h3 class="position">+1</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">6</h3>
                <img src="../assets/img/6.png">
                <div class="top10Info col-flex">
                    <h3>Rain On Me</h3>
                    <label>Lady Gaga ft. Ariana Grande</label>
                </div>
                <h3 class="position">-</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">7</h3>
                <img src="../assets/img/7.png">
                <div class="top10Info col-flex">
                    <h3>Mayday</h3>
                    <label>Victon</label>
                </div>
                <h3 class="position">-3</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">8</h3>
                <img src="../assets/img/8.jpg">
                <div class="top10Info col-flex">
                    <h3>Ridin</h3>
                    <label>NCT Dream</label>
                </div>
                <h3 class="position">-</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">9</h3>
                <img src="../assets/img/9.png">
                <div class="top10Info col-flex">
                    <h3>Lit</h3>
                    <label>Lay Zhang</label>
                </div>
                <h3 class="position">-2</h3>
            </div>
            <div class="top10Row row-flex">
                <h3 class="position">10</h3>
                <img src="../assets/img/10.jpg">
                <div class="top10Info col-flex">
                    <h3>Lathi</h3>
                    <label>Weird Genius Ft.Sara Fajira</label>
                </div>
                <h3 class="position">-2</h3>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer row-flex">
        <div class="foot">
            <a class="footLogo" href="homepage.html">
                <img src="../assets/img/blueLogo.png">
            </a>
        </div>
        <div class="text">&copy; 2020 A&T Co.</div>
        <div class="footRight row-flex">
            <a class="ig" href="https://www.instagram.com/"></a>
            <a class="fb" href="https://www.facebook.com/"></a>
            <a class="tw" href="https://twitter.com/"></a>
        </div>
    </div>
</footer>

</html>